<<<<<<< HEAD
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 de mai. de 2026, 14:38:48
    Author     : alunos
*/.root {
=======
.root {

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-font-family: "Arial";
}

/* =========================
   SIDEBAR
========================= */
<<<<<<< HEAD
.sidebar {
=======

.sidebar {

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-background-color: linear-gradient(
        to bottom,
        #0598ff,
        #0277d8
    );
}

/* =========================
   BOTÕES MENU
========================= */

.menu-button {
<<<<<<< HEAD
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-graphic-text-gap: 15;
=======

    -fx-background-color: transparent;

    -fx-text-fill: white;

    -fx-font-size: 18px;

    -fx-font-weight: bold;

    -fx-cursor: hand;

    -fx-alignment: CENTER-LEFT;

    -fx-graphic-text-gap: 15;

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-padding: 15 20 15 20;
}

.menu-button:hover {
<<<<<<< HEAD
    -fx-background-color: rgba(255,255,255,0.2);
=======

    -fx-background-color: rgba(255,255,255,0.2);

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-background-radius: 12;
}

/* =========================
   BOTÃO LOGOUT
========================= */

.logout-button {
<<<<<<< HEAD
    -fx-background-color: #e53935;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 12;
    -fx-padding: 12 20 12 20;
}
.logout-button:hover {
=======

    -fx-background-color: #e53935;

    -fx-text-fill: white;

    -fx-font-size: 18px;

    -fx-font-weight: bold;

    -fx-cursor: hand;

    -fx-background-radius: 12;

    -fx-padding: 12 20 12 20;
}

.logout-button:hover {

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-background-color: #c62828;
}

/* =========================
   BACKGROUND DASHBOARD
========================= */

.dashboard-background {
<<<<<<< HEAD
=======

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-background-color: #f4f6f9;
}

/* =========================
   CARDS
========================= */

.card {
<<<<<<< HEAD
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-cursor: hand;
    -fx-padding: 20;
=======

    -fx-background-color: white;

    -fx-background-radius: 25;

    -fx-cursor: hand;

    -fx-padding: 20;

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        15,
        0,
        3,
        3
    );
}

/* =========================
   HOVER CARD
========================= */

.card:hover {
<<<<<<< HEAD
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-background-color: #eef7ff;
=======

    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;

    -fx-background-color: #eef7ff;

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.30),
        25,
        0,
        5,
        5
    );
}

/* =========================
   TÍTULO CARD
========================= */

.card-title {
<<<<<<< HEAD
    -fx-fill: #0598ff;
    -fx-font-size: 28px;
=======

    -fx-fill: #0598ff;

    -fx-font-size: 28px;

>>>>>>> e08e4b9 (codigo com dashboard)
    -fx-font-weight: bold;
}

/* =========================
   SUBTÍTULO CARD
========================= */

.card-subtitle {
<<<<<<< HEAD
    -fx-fill: #777777;
    -fx-font-size: 16px;
}


=======

    -fx-fill: #777777;

    -fx-font-size: 16px;
}
>>>>>>> e08e4b9 (codigo com dashboard)
